h3 {
  border: #222 1px solid;
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  padding: 15px 0px 14px;
}
h3 span {
  color: #f0f0f0;
  padding: 12px 17px;
  margin: 0 10px 0 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
h3 span.http-get {
  background: #2ecc71;
}
h3 span.http-post {
  background: #3498db;
}